{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Zopper - A WhatsApp Automation Bot</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body id="set-background">
	<header>
		<nav>
			<div id="home">
				<span>
					<h6 id="logo">Zopper</h6>
				</span>
			</div>
			<div id="another-router">
				<a href="{% url 'test' %}">
					<p>Home</p>
				</a>
				<a href="{% url 'test' %}">
					<p>About the Project</p>
				</a>
				<a href="{% url 'test' %}">
					<p>About Me</p>
				</a>
			</div>
		</nav>
	</header>
	<article>
		<h1>Your WhatsApp. Better than Never.</h1>
		{% for l in list_register %}
			<ul>
				<li>
					<div>
						<span>Name</span>
						<span>URL</span>
					</div>
				</li>
			</ul>
		{% endfor %}
		<form id="formulary" action="" method="POST">
			<!--<input type="text" name="url-input" id="url-input" placeholder="Type here your URL...">-->
			{% csrf_token %}
			{{ form }}
			<button type="submit" name="url-submit" id="url-submit">
				Send
			</button>
		</form>
	</article>
	<footer>
		<a href="https://github.com/lucaxgomex/" target="_blank">
			Coded with love
		</a>
	</footer>
</body>
</html>